<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  </head>
  <body>
    {% include navbar.html %} 
    <div class="jumbotron text-white rounded bg-dark">
      <div class="col-md-0 px-0">
        <h1 class="display-1 font-bold text-center">{{ page.title }}</h1>
      </div>
    </div>
    {{ content }}
    {% include footer.html %}
  </body>
</html>